@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #f2f2f2;
background-image: url(index.jpg);
background-repeat: no-repeat;
background-size: cover;
}

nav {
background-color: #333;
color: #fff;
padding: 10px;
margin: 0;
text-align: center;
}

nav h1 {
margin: 0;
}
table{
background-color: rgba(0, 0, 0, 0.397);
color: white;
width: 60%;
height: auto;
margin: 2% auto;
text-align: left;
justify-content: center;
}
tr, th, td {
border: 1px solid black;
padding: 8px;
}
.container {
width: 80%; 
    margin: 55px auto;
}
.rectangle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #325b33;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 28px;
   
}
.button {
    padding: 10px 20px;
    background-color: #0f2d11;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.button:hover {
    background-color: #4fdc62;
}

#data h2{
    font-size: 2em;
    color: white;
    text-align: center;

}
#data label{
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: space-around;


}